<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="DBContext"
           connectionString="data source=tinhnvt;user id= sa;password=boy100890;initial catalog=QuanLySinhVien;
                                       Persist Security Info=false;
                                       Encrypt=true;TrustServerCertificate=true;
                                       Connection Timeout=30"
           providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>