body {
	background-color: #f7f7f7;
}

a {
	text-decoration: none !important;
}

a:hover,
button:hover {
	cursor: pointer;
}

.text-blue {
	color: blue;
}

.text-success {
	color: green;
}

.text-danger {
	color: red;
}


.mr-10 {
	margin-right: 10px;
}

.row {
	margin-bottom: 15px;
}

.text-center {
	text-align: center;
}

.text-danger {
	color: red !important;
}

.my-textbox {
	width: 100%;
	padding: 8px 6px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 4px;
}

.login {
	padding: 30px 50px;
}

.btn-login {
	width: 100%;
	border: none;
	border-radius: 4px;
	padding: 8px 6px;
	background-color: dodgerblue;
	color: #fff;
	font-weight: 600;
}

.login .logo img {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.box-login {
	margin: 0 auto;
	background-color: #fff;
	/*border-width: ;
	border-style: ;
	border-color: ;*/
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	padding: 20px 10px;
	width: 400px;
}

.box-login h3 {
	margin-bottom: 15px
}

.box-login a {
	color: blue;
}

table {
	width: 100%;
	background-color: #fff;
}

table,
th,
td {
	border-collapse: collapse;
	border: 1px solid #e1e1e1;
}

table tr th {
	background-color: dodgerblue;
	color: #fff;
}

table tr th,
table tr td {
	padding: 8px 6px;
}